<app-username [username]="'Chris'" (userClicked)="onUserWasClicked($event)"></app-username>
<app-username [username]="'Anna'" (userClicked)="onUserWasClicked($event)"></app-username>
<p [ngClass]="{updated: name != 'Max'}">
  {{name}}
</p>
<p *ngIf="name != 'Max'">Name updated!</p>
<button (click)="onChangeName()">Change Name</button>
<button (click)="onAddElement()">New Element</button>
<ul>
  <li
    *ngFor="let el of elements"
    [id]="'element' + el"
    [ngStyle]="{backgroundColor: getColor(el)}">Element {{ el }}</li>
</ul>
<input type="text" [(ngModel)]="message">
<p>{{ message }}</p>
